  <head>
    
    <title>Mediliza Homepage</title>

  </head>

  <body>
    <section class= "navs">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">
                  <span><i class="fa fa-stethoscope"></i></span>
                  Mediliza
                </a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/volunteer_home_page">Volunteers</a></li>
                <li><a href="/enduser">Nurses</a></li>
                <li><a href="/volunteer_patient_page/search/?">Family</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </section>

    <section class="blog-title text-center">
      <div class="blog-wrapper"  style =  "height: 220px; "> <!-- height of class wrapper changed to 220px from the deafult -->
        <div class="container">
          <div class= "row">  
            <h4 class="headline", style="font-size: 30px; word-spacing: 5px; margin-top:40px;margin-bottom:10px ">Organizing Volunteers for those most in need </h4>
          </div>
          <div class="row">
            <div class="sub-headline">
              <p style = " text-align: left;"> Hi <%="#{@volunteers.first.first_name} #{@volunteers.first.last_name} "%></p> 
            </div>
          </div>  
        </div>
      </div>
    </section>

    <section class= "blog-content">
      <div class= "container">
        <div class= "row">
          <main class="text-center">
        
              <h3>Patient Profile</h3>
              <h3>Next available visit time: <%="#{Date.today}" %> </h3>
            <div class="panel panel-info" style="border: none;">
              <div class="panel-heading">
                <h3 class="panel-title"><%= "#{@patients.first_name} #{@patients.last_name} "%></h3>
              </div>
              <div class="panel-body">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Patient ID:</td>
                        <td><%= "#{@patients.id}"%></td>
                      </tr>
                      <tr>
                        <td>Likes to be Known as:</td>
                        <td> <%= "#{@patients.nick_name}"%></td>
                      </tr>
                      <tr>
                        <td>Language Requirements:</td>
                        <td><%="#{@patients.language}" %></td>
                      </tr>
                      <tr>
                        <td>Mobility:</td>
                        <td><%="#{@patients.mobility_type}" %></td>
                      </tr>
                      <tr>
                        <td>Beverage Type:</td>
                        <td> <%="#{@patients.beverage_type}" %></td>
                      </tr>
                      <tr>
                        <td>Emergency Contact:</td>
                        <td><%="#{@patients.staff.first_name} #{@patients.staff.last_name}" %>
                        </td>   
                      </tr>                   
                    </tbody>
                  </table>
            </div>
            <div class="widget widget_categories" id="categories-3" style="position: center">
      <form action = " /volunteer_patient_page" method = "post" > 
        <h3> Observation and comments after patient visit </h3>
        <textarea type= "text" name = "observation" rows = "6" cols = "40" >  </textarea>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name = "beverage" />
                    Did Patient drink water during visit? 
                  </label>
                  </br>
                </div>
                <input type= "hidden" value=<%= @patients.id %> name = "id">
                <div>
                   <!-- <a href="#" class="btn btn-primary">Save Comments</a> -->
                   <input class="btn btn-primary" type= "submit" name= "submit" > 
                </div> 
      </form>  
      </br>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="align: center">
            <a href="/volunteer_home_page" class="btn btn-primary">Back to list of patients</a>
          </div>  
          </div>
          </main>
         
          </div>
        </div>
      </div>
    </div>



    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/wow.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/isotope.pkgd.min.js"></script>    



    <script>
          new WOW().init();
    </script>

  </body>
