  <head>
    
    <title>Mediliza Homepage</title>

  </head>

  <body>
    <section class= "navs">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/">
                  <span><i class="fa fa-stethoscope"></i></span>
                  Mediliza
                </a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/volunteer_home_page">Volunteers</a></li>
                <li><a href="/enduser">Nurses</a></li>
                <li><a href="/volunteer_patient_page/search/?">Family</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </section>

    <section class="blog-title text-center">
      <div class="blog-wrapper"  style =  "height: 220px; "> <!-- height of class wrapper changed to 220px from the deafult -->
        <div class="container">
          <div class= "row">  
            <h2 class="headline text-center" style="padding-top: 100px;">Patient Profile</h2>
          </div>
        </div>
      </div>
    </section>

    <section class= "blog-content">
      <div class= "container">
        <div class= "row">
          <main class="text-center">
            <div class="panel panel-info" style="border: none;">
              <div class="panel-heading">
                <h3 class="panel-title"><%= "#{@patients.first_name} #{@patients.last_name} "%></h3>
              </div>
              <div class="panel-body">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Patient ID:</td>
                        <td><%= "#{@patients.id}"%></td>
                      </tr>
                      <tr>
                        <td>Likes to be Known as:</td>
                        <td> <%= "#{@patients.nick_name}"%></td>
                      </tr>
                      <tr>
                        <td>Language Requirements:</td>
                        <td><%="#{@patients.language}" %></td>
                      </tr>
                      <tr>
                        <td>Mobility:</td>
                        <td><%="#{@patients.mobility_type}" %></td>
                      </tr>
                      <tr>
                        <td>Beverage Type:</td>
                        <td> <%="#{@patients.beverage_type}" %></td>
                      </tr>
                      <tr>
                        <td>Emergency Contact:</td>
                        <td><%="#{@patients.staff.first_name} #{@patients.staff.last_name}" %>
                        </td>   
                      </tr>                   
                    </tbody>
                  </table>
            </div>
            <div class="widget widget_categories" id="categories-3" style="position: center">
      <form action = " /volunteer_patient_page" method = "post" > 
      <section class="faq-content">
        <div class="container">
          <div class="row">
            <main class="col-md-9">
              <div class="faq-header">Things you need to know...</div>

                <div class="faq-c">
                  <div class="faq-q"><span class="faq-t">+</span>Could my cell phone kill me?</div>
                  <div class="faq-a">
                    <p>It seems unlikely. But if you use your mobile phone a lot, consider getting an earpiece or putting your caller on speaker so you can hold the phone away from your head. The biggest study yet, in which Danish researchers tracked 420,000 cell phone users for up to 21 years, found no cancer risk, but much of the data was collected when cell phones were more of a novelty than a primary form of communication. In a smaller recent Israeli study of 1,726 people, heavy cell phone use raised the risk for salivary gland tumors 50 percent on the side on which the subjects usually held the phone (though the risk overall is still vanishingly small). The biggest threat, however, has nothing to do with cancer: Driving while talking on a cell phone puts you in the same league as a drunk driver. You're four to five times more likely to have an accident. </p>
                  </div>
                </div>
              </main>
            </div>
          </div>
        </section>

        <h3> Observation and comments</h3>
        <textarea type= "text" name = "observation" rows = "6" cols = "40" >  </textarea>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name = "beverage" />
                    Did Patient drink water during visit? 
                  </label>
                  </br>
                </div>
                <input type= "hidden" value=<%= @patients.id %> name = "id">
                <div>
                   <!-- <a href="#" class="btn btn-primary">Save Comments</a> -->
                   <input class="btn btn-primary" type= "submit" name= "submit" > 
                </div> 
      </form>  
      </br>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="align: center; padding-bottom: 30px;">
            <a href="/volunteer_home_page" class="btn btn-primary">Back to list of patients</a>
          </div>  
          </div>
          </main>
         
          </div>
        </div>
      </div>
    </div>



    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/wow.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/isotope.pkgd.min.js"></script>    



    <script>
          new WOW().init();
    </script>

    <script type="text/javascript">
      $(".faq-q").click( function () {
        var container = $(this).parents(".faq-c");
        var answer = container.find(".faq-a");
        var trigger = container.find(".faq-t");
        
        answer.slideToggle(200);
        
        if (trigger.hasClass("faq-o")) {
          trigger.removeClass("faq-o");
        }
        else {
          trigger.addClass("faq-o");
        }
      });
    </script> 

  </body>
