  <head>
    
    <title>Mediliza Homepage</title>

  </head>

  <body>
    <section class= "navs">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/">
                  <span><i class="fa fa-stethoscope"></i></span>
                  Mediliza
                </a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/volunteer_home_page">Volunteers</a></li>
                <li><a href="/enduser">Nurses</a></li>
                <li><a href="/search/?">Family</a></li>
                <% if session[:vid] %>
                  <li><a href="/logout">Logout</a></li>
                <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </section>

    <section class="blog-title text-center">
      <div class="blog-wrapper"  style =  "height: 220px; "> <!-- height of class wrapper changed to 220px from the deafult -->
        <div class="container">
          <div class= "row">  
            <h2 class="headline text-center" style="padding-top: 100px;">Patient Profile</h2>
          </div>
        </div>
      </div>
    </section>

    <section class= "blog-content">
      <div class= "container">
        <div class="row">
          <h3>
            <% if @update %>
              <ul>
                <li>
                  Records updated
                </li>
              </ul>
            <% elsif @interaction && @interaction.errors.any? %>
              <div>
                <ul>
                  <% @interaction.errors.full_messages.each do |message| %>
                    <li style="margin-bottom: 50px;" class="text-center"><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% elsif @interacted %>
              <div>
                <ul>
                  <li style="margin-bottom: 50px;" class="text-center">
                    Interaction added
                  </li>
                </ul>
              </div>
            <% end %>
          </h3>
        </div>
        <div class= "row">
          <main class="text-center">
            <div class="panel panel-info" style="border: none;">
              <div style="margin-bottom: 20px;" class="panel-heading">
                <h2><%= "#{@patient.first_name} #{@patient.last_name} "%></h2>
              </div>
              <div class="panel-body">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Likes to be Known as:</td>
                        <td> <%= "#{@patient.nick_name}"%></td>
                      </tr>
                      <tr>
                        <td>Likes:</td>
                        <% if @patient.likes.first %>
                          <td> <%= "#{@patient.likes.first.description}"%></td>
                        <% else %>
                          <td>None</td>
                        <% end %>

                      </tr>
                      <% @patient.likes.each_with_index do |like, i| %>
                          <% unless i == 0 %>
                            <tr>
                              <td></td>
                              <td> <%= "#{like.description}"%></td>
                            </tr>
                          <% end %>
                      <% end %>
                      <tr>
                        <td>Dislikes:</td>
                        <% if @patient.dislikes.first %>
                          <td> <%= "#{@patient.dislikes.first.description}"%></td>
                        <% else %>
                          <td>None</td>
                        <% end %>
                      </tr>
                      <% @patient.dislikes.each_with_index do |dislike, i| %>
                          <% unless i == 0 %>
                            <tr>
                              <td></td>
                              <td> <%= "#{dislike.description}"%></td>
                            </tr>
                          <% end %>
                      <% end %>
                      <tr>
                        <td>Language Requirements:</td>
                        <td><%="#{@patient.language}" %></td>
                      </tr>
                      <tr>
                        <td>Mobility:</td>
                        <td><%="#{@patient.mobility_type}" %></td>
                      </tr>
                      <tr>
                        <td>Beverage Type:</td>
                        <td> <%="#{@patient.beverage_type}" %></td>
                      </tr>
                      <tr>
                        <td>Emergency Contact:</td>
                        <td><%="#{@patient.staff.first_name} #{@patient.staff.last_name}" %>
                        </td>   
                      </tr>   
                      <tr>
                        <td>Recent family request:</td>
                        <td><%="#{@patient.request}" %>
                        </td>   
                      </tr>            
                    </tbody>
                  </table>
            </div>

      <section class="faq-content" style="margin-top: 0px">
        <div class="container">
          <div class="row">
            <main class="col-md-9">
                <div class="faq-c" style="border: none;">
                  <div class="faq-q" style="align: center;"><span class="faq-t">+</span>Previous interactions...</div>
                  <div class="faq-a">
                    <main class="blog1col col-md-9">    
                      <div class="col-md-8 col-md-8">                    
                        <% @patient.last_interactions.each do |interaction| %>
                          <ul class="list-inline info">
                           <li><%="Volunteer: #{interaction.volunteer.first_name} #{interaction.volunteer.last_name}"%></li>
                          <li><i class="fa fa-calendar"></i> <%="Date: #{interaction.time.strftime('%x')}"%></li>
                          <li><i class="fa fa-comment"></i><%="#{interaction.observation}"%></li>
                          </ul>
                      <% end %>
                      </div>
                    </main>
                  </div>
                </div>
              </main>
            </div>
          </div>
        </section>
    <div class="widget widget_categories" id="categories-3" style="position: center">
      
      <% if session[:fid] %>
        <form action = " /volunteer_patient_page" method = "post" >
          <input type="hidden" name="_method" value="put"> 
          <h3>Request:</h3>
          <textarea type= "text" name = "request" rows = "6" cols = "40" ><%= @patient.request %></textarea>
          <input type= "hidden" value=<%= @patient.id %> name = "id">
          <div>
             <!-- <a href="#" class="btn btn-primary">Save Comments</a> -->
             <input class="btn btn-primary" type= "submit" name= "submit" > 
          </div> 
        </form> 
      <% elsif session[:vid] %>
        <form action = " /volunteer_patient_page" method = "post" > 
          <h3> Observation and comments</h3>
          <textarea type= "text" style="margin-bottom: 10px;" name = "observation" rows = "6" cols = "40" >  </textarea>
          <h4> Approximate Walking Duration (min) </h4>
          <input style="margin-bottom: 10px;" type= "text" name = "walking_duration" rows = "6" cols = "40" />
          <div class="checkbox">
            <label>
              <input type="checkbox" name = "beverage" />
              Did Patient drink water during visit? 
            </label>
            </br>
          </div>
          <input type= "hidden" value=<%= @patient.id %> name = "id">
          <div>
         <input class="btn btn-primary" type= "submit" name= "submit" > 
          </div> 
        </form>  
        </br>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad;" style="padding-bottom: 30px;">
              <a href="/volunteer_home_page" class="btn btn-primary">Back to list of patients</a>
        </div>  
      <% elsif session[:sid] %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad;" style="padding-bottom: 30px;">
              <a href="/enduser" class="btn btn-primary">Back to list of patients</a>
        </div>  
      <% end %>
        
  </div>

    <section id="footer" style="margin-top: 100px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copy-right-text text-center">
              &copy; Theme by <a href="https://themewagon.com/">ThemeWagon</a>
            </div>
          </div>
        </div>
      </div>
    </section>



    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/wow.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/isotope.pkgd.min.js"></script>    



    <script>
          new WOW().init();
    </script>

    <script type="text/javascript">
      $(".faq-q").click( function () {
        var container = $(this).parents(".faq-c");
        var answer = container.find(".faq-a");
        var trigger = container.find(".faq-t");
        
        answer.slideToggle(200);
        
        if (trigger.hasClass("faq-o")) {
          trigger.removeClass("faq-o");
        }
        else {
          trigger.addClass("faq-o");
        }
      });
    </script> 

  </body>
